body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #e6e0f4;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.no-point-event {
  pointer-events: none;
}

.ratio-16-9 {
  aspect-ratio: 16/9;
}
